<div class="row product-details" *ngIf="productData">
  <div class="col-sm-6">
     <img src="{{productData.image}}" class="product-image">
  </div>
  <div class="col-sm-6">
    <div class="details">
     <h1>{{productData.name}}</h1>
     <h3>Price: {{productData.price}}</h3>
     <div>
        Color:
        <h5 [style.backgroundColor]="productData.color" class="product-color"></h5>
     </div>
     <h6>Category : {{productData.category}}</h6>
     <h6>Description : {{productData.description}}</h6>
     <button class="btn">Buy Now</button>
     <button *ngIf="!removeCart" (click)="addToCart()" class="btn">Add to cart</button>
     <button *ngIf="removeCart" (click)="removeToCart(productData.id)" class="btn">Remove to cart</button>
     <div class="quantity-group">
        Qty:&nbsp;&nbsp;&nbsp;<button (click)="handleQuantity('min')">-</button>
        <input type="text" value="{{productQuantity}}">
        <button (click)="handleQuantity('plus')">+</button>
     </div>
    </div>
  </div>
</div>
