.user-input
{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 5px;
    border: none;
    background-color: rgb(222, 223, 224);
    border-radius: px;
}
.user-box{
    position: absolute;
    left: 610px;
    background-image: linear-gradient(to left, #83a4d4,#b6fbff);
    padding: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.text{
    margin-left: 660px;
}
.btn{
    padding:8px;
    margin-left: 6px;
    padding-left: 90px;
    padding-right: 103px;
    border-radius: 0px;
    background-color: rgb(222, 223, 224);
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
.btn1{
    padding:8px;
    margin-left: 6px;
    padding-left: 104px;
    padding-right: 110px;
    border-style: none;
    color: black;
    background-color: rgb(222, 223, 224);
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
.invalid-input{
    color: red;
    font-size: 12px;
    margin-bottom: -20px;
}
.text-style{
    color: gray;
    margin-left: 10px;
}
.link-style{
    color: #3535f9;
    text-decoration: none;
}