<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone.</p>
                <div class="app-logo">
                    <img src="assets/Images/play-store.png">
                    <img src="assets/Images/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="assets/Images/logo1.jpg" width="30%">
                <p>Experience online shopping in Global with FS.com by verified sellers across the country that will ensure safe and swift deliveries of your orders.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
            <p class="Copyright">Copyright &#169; 2023  | All Right Reserved.</p>
    </div>
  </div>